body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
}

.display input {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #f0f0f0;
}

button:hover {
    background-color: #e0e0e0;
}

.operator {
    background-color: #ff9900;
    color: #fff;
}

.operator:hover {
    background-color: #e68a00;
}